{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix mt-5">
                    <h1>About <span>Todoist</span></h1>
                    <h3 class="mt-5">A todo app for your daily tasks. </h3>
                    <p class="about-paddingB mt-3">You can create your daily tasks and take help of Todoist to complete those tasks successfully. It consist of registration and login so that the scurity persist.</p>
                    <p>This app is capable of adding a new todo, updating a particular todo and finally deleting a todo.</p>
                    <div class="about-icons d-flex align-items-center">
                        <h5>Access it here</h5>
                        <ul class="list-unstyled mx-3">
                            <li><a href="https://www.github.com/" target="_blank"><i id="social-gh"
                                        class="fa fa-github-square fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}